{% if page.author %}
<div class="author rev">
<div class="row">
		<div class="col-md-3">
			<img class="author-image" src="{{site.baseurl}}/assets/images/{{site.author.image}}" alt="{{site.author.name}}">
		</div>
		<div class="col-md-9">
			<h5>{{site.author.name }}</h5>
			<p>{{site.author[page.lang]}}</p>
			<ul>
				{% if site.author.facebook %}
				<li><a target="_blank" href="{{site.author.facebook}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				{% endif %}
				{% if site.author.twitter %}
				<li><a target="_blank" href="{{site.author.twitter}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
				{% endif %}
				{% if site.author.tiktok %}
				<li><a target="_blank" href="{{site.author.tiktok}}"><i class="fa fa-tiktok" aria-hidden="true"></i></a></li>
				{% endif %}
				{% if site.author.linkedin %}
				<li><a target="_blank" href="{{site.author.linkedin}}"><i class="fa fa-linkedin-in
" aria-hidden="true"></i></a></li>
				{% endif %}
				{% if site.author.instagram %}
				<li><a target="_blank" href="{{site.author.instagram}}"><i class="fa fa-instagram-square" aria-hidden="true"></i></a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endif %}
