<!-- <section id="cta" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-10 rev">
				<p>{{site.data.i18n[page.lang].donate_text}}</p>
			</div>
			<div class="col-md-2 rev"><a href="{% if page.lang != 'en'%}{{page.lang}}/{% endif%}purchase/" class="btn btn-danger btn-lg btn-block">{{site.data.i18n[page.lang].donate}}</a></div>
		</div>
	</div>
</section>
 -->

 <section id="cta" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-10 rev">
				<p>{{site.data.i18n[page.lang].join_text}}</p>
			</div>
			<div class="col-md-2 rev"><a href="{% if page.lang != 'en'%}{{page.lang}}/{% endif%}contact/" class="btn btn-danger btn-lg btn-block">{{site.data.i18n[page.lang].join}}</a></div>
		</div>
	
	<div class="row">
		<div class="col-md-10 rev">
				<h5>{{site.data.i18n[page.lang].join_text_social}}</h5>
		</div>
		<div class="col-md-9">
			<ul style="display:block">
				{% if site.author.facebook %}
				<li><a target="_blank" href="{{site.author.facebook}}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
				{% endif %}
				{% if site.author.twitter %}
				<li><a target="_blank" href="{{site.author.twitter}}"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
				{% endif %}
				{% if site.author.tiktok %}
				<li><a target="_blank" href="{{site.author.tiktok}}"><i class="fab fa-tiktok" aria-hidden="true"></i></a></li>
				{% endif %}
				{% if site.author.linkedin %}
				<li><a target="_blank" href="{{site.author.linkedin}}"><i class="fab fa-linkedin-in
" aria-hidden="true"></i></a></li>
				{% endif %}
				{% if site.author.instagram %}
				<li><a target="_blank" href="{{site.author.instagram}}"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</section>



