<style>
/* html,body {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #FF4B4B;
} */

#explode {
	width: 100%;
	margin-top:10vh;
	height: 90vh;
	/* background-color: #FF4B4B; */
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
}

.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
}

.stagger-visualizer div {
  /*position: absolute;*/
  width: 10rem;
  height: 10rem;
  border: 0px solid #000;
  background-color: #000;
}
</style>


<section id="explode">
	<div class="stagger-visualizer">

<div><img src="{{site.baseurl}}/assets/images/food-icons/Hokkaido.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Milch(UHT,Vollrahm,3.5).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Claressefilet.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gelatine.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Vollei.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ente.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Avocado.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rettich.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Quitte.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Apricosen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Milch (UHT, teilentrahmt, bis 0.5).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Brechbohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Parmesan.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pfirsich.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Aubergine.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ackerbohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mango.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Paprika.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Süßkartoffel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pommes.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Milch (UHT, teilentrahmt, bis 2.5).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kurkuma.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Käse (hart, mehr als 30).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Silserbrot.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sherryessig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Melasse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zitronengras.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Eisbergsalat.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Crème fraiche.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Brot.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grana Padano.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Meerrettich.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wasser.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Buttermilch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tilsiter.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Vollkornbrot.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schmand.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Molkepulver.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tomaten.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Peperoni-Wurst.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kefen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Peperoncini.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Süßholz.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Knoblauch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lauch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sahnepulver.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Champignons.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pastinaken.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Maracuja.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Essig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Branntweinessig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sahne (Halbfettstufe, 25 Fett).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pflanzliches Öl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Goldmakrele.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kaffeesahne.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sahne (Vollfettstufe, 35 Fett).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Radicchio.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sojasauce.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Milchpulver.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gewürze.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Käse (halbhart, 25-30).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rotkohl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zucchini.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Petersilienwurzel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mineralwasser(ohne Kohlensäure).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sauermilch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wirsing.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kakaopulver.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hefe (frisch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Reisdrink.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Bananen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pfifferlinge.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Vermouth.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Peperoni.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pistazien.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Apfelpektin.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Spitzkohl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Käse (weich, 20-25).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tamarinde.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Nektarine.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ahornsirup.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Scholle.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gruyere.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Edamame.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Birnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sesamöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Fleisch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zuckerhut.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Curry.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Eigelb.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Leinsamen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sonnenblumenkerne.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Eglifilet.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rapsöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Honig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Balsamico_Essig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wermut.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwarze Bohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tabasco.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mozzarella (aus Kuhmilch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wassermelone.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ruchbrot.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Endivie.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Haferdrink.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rosenkohl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Senfkörner.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Siedfleisch durchzogen).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kürbis.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pfeffer.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Butternut.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Flunder.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Reisessig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Artischocken.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Cashewnüsse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mangomark.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Backpulver.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Steinpilze.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pfirsichsaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwarzkümmel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Frühkartoffeln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mineralwasser(mit Kohlensäure).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Soisson Bohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zucker (Zuckerrohr).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Eiweiss.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Cognac.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Steckrüben.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Apfelessig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kirsche.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Salami.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wein.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tofu.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kidneybohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kartoffeln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Salz.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Heilbutt.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Chili.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ziegenkäse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Weiße Bohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Makrele.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Bohnenkraut.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Weißweinessig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Frühlingszwiebeln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Apfelsaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zucker (Zuckerrüben).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Thunfisch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Maronen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Emmentaler.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schalotte.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rote Beete.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Apfel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zwiebeln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Cheddar.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ingwer.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Joghurt (natur).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Portwein.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Senf.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Jalapeno.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Karotten.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mascarpone.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Leber).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sauerkraut.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Maniok.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Haselnussöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grünkern.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gemüsebrühe.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Fenchelsamen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Austern.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Filet).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mandarinen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Trüffel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pflaumen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rote Beete Saft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kapern.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Weizenmehl (Type 812).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tierfett.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Dorsch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Feta (aus Kuhmilch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wacholderbeeren.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Weizen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Waldpilze.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Oregano.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Paneer.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sesam.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Felchen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Weißer Tee.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Fenchel fennel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gruyer.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kopfsalat.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Margarine.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Laugenbretzel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zwetschgen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Palmöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Filet).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Fisch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Weißmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Oliven.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Schulterbraten).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tomatensaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Roggenmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Raclette.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sprossen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Truthuhn.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mangosaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gluten (Weizen).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grüntee.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Haferflocken.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Seehecht.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hartweizengrieß.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Reismehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Butter.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rosmarin.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwarzwurzel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wachsbohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Portulak.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hummer.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Romanesco.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Schnitzel).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Olivenöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kakaomasse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ruchmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gemüsebouillon.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Reis.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sahne (Doppelrahmstufe, 45 Fett).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Birnensaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pflanzenfett.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Chia.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Quark.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Amarant.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kräuter.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Molke.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Brust).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schnapper.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Thymian.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gelbe Linsen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Goldbrasse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Currypaste.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tomatenkonzentrat.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zanderfilet.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mandarinensaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Linsenmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ketchup.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Dinkelmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hähnchen (Flügel).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Prinzessbohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sambal Oelek.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Bulghur.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Steaks).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ricotta.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sojamehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sojamilch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pangasius.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zitronen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Schulterbraten).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Brombeeren.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mayonnaise.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pariser Karotten.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kräutertee.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Garnelenpaste.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gurke.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kokos.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grapefruit.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hähnchen (Brust und Innenfilet).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kaffee.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Feldsalat.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Saibling.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Käse (frisch, 0-15).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Knollensellerie.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gerste.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Broccoli.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwarztee.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hühnerbrühe.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sojaöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Topinambur.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Champagner.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mandeln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Orangen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gnocchi (Kartoffel}.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tomatensugo.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Quorn.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Vollkorngrieß.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Dinkelvollkornschrot.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Spinat.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Marmelade.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Walnüsse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Erdnussöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hähnchen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Seidentofu.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Limette.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Muscheln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sternfrucht.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Garnelen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Melone.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Dextrose.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Brunnenkresse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hering.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Roggenschrot.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kichererbsen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lorbeer.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tilapia.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mehrkornmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rinderbrühe.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Spirituosen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Erdnussbutter.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hähnchen (Schenkel).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schokolade (weiß).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schweineschmalz.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kürbiskerne.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hafer.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rispentomaten.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lachsforelle.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kichererbsenmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schokolade (dunkel).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ziegenfleisch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Nudeln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Feigen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grapefruitsaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hähnchen (ganzes Hähnchen).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ziegenmilch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Strauss.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Orangensaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Bärlauch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ananas.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Distelöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grünkohl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pak choi.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Glasnudeln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Soja.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rote Linsen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Maismehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Batavia.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Haselnüsse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Linsen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zimt.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lamm.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Limettensaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Seelachs.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Eichblattsalat.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Tempeh.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Seitan.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Spaghetti.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Weißer Spargel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Dillkraut.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rosinen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Vollkornschrot.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sonnenweizen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Kotelett).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mais.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Stärke (Kartoffel).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zitronensaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Filet).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Halsbraten).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Geschnetzeltes).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rollgerste.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Fohlen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kokosnussöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Lendenkotelett).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Kotelett).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kümmel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Basilikum.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Blätterteig (pflanzliche fette).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Vollkornmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ebly.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Geschnetzeltes).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Traubenkernöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Eier (Bodenhaltung).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Nelken.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pferd.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Couscous.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Wurstfleisch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schnittlauch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Laugengebäck.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Majoran.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Stärke (Weizen).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rucola.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Erbsen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kohlrabi.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mungobohne.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Walnüssöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lamm (Fleisch ohne Knochen).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Schulterbraten).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Hohrücken).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sardellen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kakaobutter.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Brust).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lollo.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kokosraspel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kabeljau.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sultaninen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lachs.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Radieschen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Erdbeeren.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalbsbratwurst.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Traubensaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Ananassaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Erdnüsse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Safran.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Bündnerfleisch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Schwarte).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wildschwein.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Aal.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Artischockenherzen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Wolfsbarsch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Paniermehl (Brot).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Essiggurken.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Wurstfleisch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lattich.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Buchweizen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Stangensellerie.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hafersahne.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kerbel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Hüfte).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Quinoa.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Cicorino.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Halsbraten).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kiwi.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Vanilleschoten.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Fruchtsaft.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Nudeln (mit Ei).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Languste.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Räucherschinken.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kaninchenfleisch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Nüsse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Blaubeeren.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gerstenmalzextrakt.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Schnitzel).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Kopf und Füsse).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Trauben.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grüner Spargel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schokolade (Milch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lamm (Schulter ohne Bein).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mangold.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Roastbeef).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Eier (Freilandhaltung).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grüne Bohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Chinakohl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Weißkohl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Bier.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Hackfleisch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Hackfleisch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Blumenkohl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kängurufleisch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Mu-Err-Pilze.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Galgant.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Buchweizenmehl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Haxen).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kardamom.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Keule).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lamm (Kotelett, geschnitten).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Muskat.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Stärke (Mais).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lamm (Keule ohne Schlossbein).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Geschnetzeltes).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sonnenblumenöl.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schinken.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hirschfleisch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Anis.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Algen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kokosnussmilch.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Petersilie.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kokoswasser.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Schnitzel).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Hirse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Himbeeressig.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Himbeeren.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Speck.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Wurstfleisch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Gemüse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Goldhirse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Brötchen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Schwein (Ragout, Haxen).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Grünkernschrot.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kalb (Ragout).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Chicoree.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Liebstöckel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Maisgrieß.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Hackfleisch).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lamm (Hals und Brust mit Bein).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Kreuzkümmel.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Lamm (Rücken ohne Filet).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Frucht.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Basmatireis.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Buschbohnen.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rohschinken.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Datteln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Minze.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Innereien).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Brennnesseln.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Zitronenmelisse.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rind (Ragout).svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Salbei.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Pinienkerne.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Rhabarber.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Risottoreis.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Cherrytomaten.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Austernpilz.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Koriander.svg"></div>
<div><img src="{{site.baseurl}}/assets/images/food-icons/Sternanis.svg"></div>


	</div>
</section>

<script src="{{site.baseurl}}/assets/js/anime.min.js" type="text/javascript"></script>
<script src="{{site.baseurl}}/assets/js/script2.js"></script>
