<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo-box">
          <!-- <img
            width="30"
            src="/assets/images/avocado-transparent-small.png"
            alt="{{site.title}}"
          /> -->
          <h3>{{site.title}}</h3>
          <p>{{site.data.i18n[page.lang].ayce_text}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <h3>{{site.data.i18n[page.lang].pages}}</h3>
        <ul>
          {% for item in site.data.nav[page.lang] %}
          <li><a href="{{item.link}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-3">
        <h3>{{site.data.i18n[page.lang].latest_posts}}</h3>
        {% assign items_grouped = site.posts | group_by: 'ref'%}
        {% for group in items_grouped%}
            {% if group.items.size> 1%}
                {% assign post = group.items | where: "lang", site.lang | first%}
            {% else%}
                {% assign post = group.items [0]%}
            {% endif%}
        <li><a href="{{post.url}}">{{post.title}}</a>
          {% assign versions = site.posts | where: "ref", page.ref | sort: 'lang'%}
              {% if versions.size> 1%}
                  {% for version in versions%}
                      {% if version.lang != page.lang%}
                         <a href="{{ version.url }}">{{site.data.i18n [version.lang] .icon}} </a>
                      {% endif%}
                  {% endfor%}
              {% endif%}
        {% endfor %}

        </li>          

      </div>
      <div class="col-md-3">
 <!--        <h3>Contact Us</h3>
        <p>Email:<a href="mailto:{{site.email}}"> {{site.email}}</a></p>
        <p>Phone:<a href="tel:{{site.phone}}"> {{site.phone}}</a></p> -->
        <!--Start of Tidio.to Script-->
        {{ site.tidio-chat-script }}
        <!--End of Tidio.to Script-->
      </div>
    </div>
  </div>
</footer>
