<section id="intro">
	<div class="">
		<div class="owl-carousel owl-theme carousel-1">

			<div class="item position-relative">
				{% include explode.html %}
				<!-- <div class="car-image" style="background-image: url(/assets/images/carousel/kaleidico-754495-unsplash.jpg)"></div> -->
				<div class="text-container position-absolute">
					<p>{{site.data.i18n[page.lang].climate_map}}</p>
					<h1>{{site.data.i18n[page.lang].climate_map_text}}</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/scan-example.jpg)"></div>
				<div class="text-container position-absolute">
					<p>{{site.data.i18n[page.lang].scanner}}</p>
					<h1>{{site.data.i18n[page.lang].scanner_text}}</h1>
				</div>
			</div>

			<!-- <div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/austin-distel-675050-unsplash.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Educational Sticker-Pack</p>
					<h1>Make the food CO₂ label happen.</h1>
				</div>
			</div> -->

		</div>
	</div>
</section>

<!-- <section id="intro">
	<div class="container rev">
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
				<div class="car-image" style="background-image: url(/assets/images/carousel/kaleidico-754495-unsplash.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Fonts</p>
					<h1>Awesome Typography!</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/stefan-stefancik-297983-unsplash.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Layout</p>
					<h1>Immersive Experience!</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/austin-distel-675050-unsplash.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Ease</p>
					<h1>Customize as you like!</h1>
				</div>
			</div>
		</div>
	</div>
</section> -->
