{% if site.related_posts.size != 0 %}
<div class="recent">
	<div class="row">
		<div class="col-md-12">
			<h3>{{site.data.i18n[page.lang].articles}}</h3>
		</div>
	</div>
	<div class="row">
	{% assign items_grouped = site.related_posts limit: 8 | group_by: 'ref'%}
        {% for group in items_grouped%}
            {% if group.items.size> 1%}
                {% assign post = group.items | where: "lang", page.lang | first%}
            {% else%}
                {% assign post = group.items [0]%}
            {% endif%}
		{% if page.url != post.url %}
		<div class="col-md-3 rev">
			<a class="nostyle item" href="{{site.baseurl}}{{post.url}}">
				<div class="cards">
					<div class="image" style="background-image: url({{site.baseurl}}{{post.image}})"></div>
					<p class="title"><small>{{post.title}}</small></p>
				</div>
			</a>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}