<section>
	<a class="doshow">
		<div class="header-color header-color-3 rev"> <span class="grade grade-3"></span>
			<h1 class="header-text">I Write</h1>
		</div>
	</a>
	<div class="noshow hide borders write">
		<div class="container details">
			<div class="row">
				<div class="col-md-12">
					<p class="pds"><i class="fa fa-pencil" aria-hidden="true"></i> When I'm not in space, I write stuff...</p>
				</div>
			</div>

			{% for post in site.posts limit: 2 %}
			<link rel="prefetch" href="{{site.baseurl}}{{post.image}}">
			<a class="nostyle" href="{{site.baseurl}}{{post.url}}">
				<div class="row cards blog-list-preview {% if forloop.index != 1 %}rev{% endif %}">
					<div class="col-md-4 image" style="background-image: url({{site.baseurl}}{{post.image}});"></div>
					<div class="col-md-8 content">
						<h3 class="title">{{post.title}}</h3>
						<p class="description">{{post.content | strip_html | truncate: 80 }}</p>
					</div>
				</div>
			</a>
			{% endfor %}

			<div class="row">
				<div class="col-md-12 text-center pds"> <a href="{{site.baseurl}}/blog/" class="btn btn-lg btn-outline-secondary cards">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>
